# This is an example of a .env file for the web application.
# Rename this file to .env and fill in the required values.
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db

# JWT var
JWT_SECRET_KEY=YOUR_SECRET_KEY_HERE
JWT_ACCESS_TOKEN_EXPIRES=TIME_IN_SECONDS