apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
data:
  POSTGRES_USER: YOUR_BASE64_ENCODED_POSTGRES_USER
  POSTGRES_PASSWORD: YOUR_BASE64_ENCODED_POSTGRES_PASSWORD
  JWT_SECRET_KEY: YOUR_SECRET_JWT_KEY